
        #seccion1{ background-color: olivedrab;
        color: bisque;} 
        .seccion2{ background-color: black;
        color: white rgb(red, green, blue);}
        p{
            font-size: 36px;
        }
    